/*flex-direction*/



.flex-container {
  display: flex;
  flex-direction: column;
}
/*note: The column value stacks the flex items vertically (from top to bottom)*/

.flex-container {
  display: flex;
  flex-direction: column-reverse;
}
/*note: The column-reverse value stacks the flex items vertically (but from bottom to top)*/

.flex-container {
  display: flex;
  flex-direction: row;
}
/*note: The row value stacks the flex items horizontally (from left to right)*/

.flex-container {
  display: flex;
  flex-direction: row-reverse;
}
/*note: The row-reverse value stacks the flex items horizontally (but from right to left)*/


